<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suite" >

<listeners>
        <listener class-name="com.wmAutomationArti.util.testNGListener"></listener>
        <listener class-name="com.wmAutomationArti.util.extentReportListenerRelevantCodes"></listener>

    </listeners>


  <test name="Test">
    <classes>
      <class name="com.wmAutomationArti.testCases.HomeDashboardPageTestCases"/>
      <class name="com.wmAutomationArti.testCases.launchLoginPageTestCases"/>
      <class name="com.wmAutomationArti.testCases.WhitelabelManageRolesTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

